.sidebar {
  width: 230px !important;
  height: 100vh;
  background: #464E2E;
  color: white;
  transition: width 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  overflow: hidden;
}
.sidebar:not(.open) {
  width: 70px !important;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.title-name {
  font-weight: bold;
  font-size: 17px;
}
.nav-item {
  margin-left: 20px;
  font-size: 14px;
  transition: opacity 0.3s ease;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}
li {
  margin: 20px 0;
}
a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
  cursor: pointer;
}
a:hover {
  background: rgba(255, 255, 255, 0.2);
}
i {
  font-size: 24px;
}

#btn:not(.open) {
  margin-right: 10%;
} 

.main-content {
  margin-left: 230px;
  transition: margin-left 0.3s ease;
}

.sidebar:not(.open) ~ .main-content {
  margin-left: 70px;
}

/* Logout Modal */
.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.logout-modal {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  scale: 1.1;
}

.logout-modal h2 {
  margin-bottom: 10px;
  color: #E9E5D6;
}

.logout-modal p {
  color: #E9E5D6;
}

.logout-modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.logout-btn {
  background: #59692A;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .15s ease-in-out background-color,
  .15s ease-in-out color;
}

.cancel-btn {
  background: #bdc3c7;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .15s ease-in-out background-color;
}

.logout-btn:hover {
  background-color: #E9E5D6;
  color: #464E2E;
}

.cancel-btn:hover {
  background: #95a5a6;
}

/* CREATE EVENT SECTION  */

.event-container {
  margin-left: 19%;
  margin-top: 2%;
}

.create-event-separation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: start;
  row-gap: 25px;
  animation-name: slideinTopOverallContainer;
  animation-duration:1s;
  animation-timing-function:ease-in-out;
  animation-delay:0s;
  animation-iteration-count: 1;
}

@keyframes slideinTopOverallContainer {
  from {
      opacity: 0.2;
      transform: translateY(70px);

  }

  to {
      opacity: 1;
      transform: translateY(0);

  }
}

.title-safety {
  margin-left: 19%;
  margin-top: 4%;
  color: #464E2E;
}

.safety-hr {
  width: 79%;
  margin-top: 15px;
  margin-left: 18%;
}

.create-event-headers {
  font-size: 20px;
  color: #464E2E;
  font-weight: 700;
}

.create-event-input {
  width: 90%;
  height: 40px;
  border-radius: 8px;
  border-style: none;
  background-color: #E9E5D6;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  padding-left: 20px;
  transition: 0.15s ease-in-out outline,
  .15s ease-in-out border-color,
  .15s ease-in-out box-shadow;
  
}

.create-event-input:focus {
  outline: none;
  border-color: #E9E5D6;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8)
}

.modal-textarea {
  width: 90%;
  height: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical;
  font-size: 13px;
  resize: none;
  margin-top: 5%;
  background-color: #E9E5D6;
  transition: 0.15s ease-in-out outline,
  .15s ease-in-out border-color,
  .15s ease-in-out box-shadow;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.modal-textarea:focus {
  outline: none;
  border-color: #E9E5D6;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.8)
}

.create-event-title {
  font-size: 20px;
  color: #464E2E;
  font-weight: 700;
  margin-top: 5%;
}

.things-needed-container {
  background-color: #E9E5D6;
  width: 90%;
  height: auto;
  padding-bottom: 50px;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.things-separation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5% 5%;
  column-gap: 20px;
  flex-grow: 1;
  margin-bottom: 10px;
}

.things-separation::-webkit-scrollbar {
  width: 5px;
}

.things-separation::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.things-separation::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.things-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  font-weight: 600;
  margin-bottom: 5px; /* changed from margin-top to margin-bottom */
  width: 90%;
  margin-left: 5%;
  height: 41px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  border: 1px solid black;
  color: black;
  transition: .15s ease-in-out background-color, 
              .15s ease-in-out color;
}

.button-things:hover {
  background-color: #464E2E;
  color: #E9E5D6;
}

/* Active (selected) button */
.active-button {
  background-color: #E9E5D6 !important;
  color: black;
  border: 1px solid black;
}

.things-input {
  width: 90%;
  margin-left: 5%;
  height: 34px;
  border-radius: 8px;
  border-style: none;
  padding-left: 10px;
  transition: 0.15s ease-in-out outline,
  .15s ease-in-out border-color,
  .15s ease-in-out box-shadow;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.things-input:focus {
  outline: none;
  border-color: #E9E5D6;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5)
}

.button-container {
  margin-left: 67%;
  margin-top: -6%;
}

.create-cancel, .create-submit {
  width: 66px;
  height: 35px;
  margin-left: 10px;
  border-radius: 5px;
  border-style: none;
  background-color: #59692A;
  color: #E9E5D6;
  cursor: pointer;
  font-weight: 600;
  transition: .15s ease-in-out background-color, 
  .15s ease-in-out color;
}

.create-submit:hover, .create-cancel:hover {
  background-color: #E9E5D6;
  color: #464E2E;
  border: 1px solid #464E2E;
}

.create-cancel:active, .create-submit:active {
  opacity: 0.8;
}

/* GPT */

.things-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 5px 10px;
  font-weight: 600;
  margin-top: 10%;

}

.thing-x {
  margin-left: auto;
  padding-left: 10px;
  font-weight: bold;
  font-size: 16px;
  transition: .15s ease-in-out margin-left,
  .15s ease-in-out padding-left,
  .15s ease-in-out font-weight,
  .15s ease-in-out font-size;
}

.thing-x:hover {
  opacity: 0.6;
}

.add-inside-button {
  width: 66px;
  height: 35px;
  margin-left: 6%;
  margin-top: 3%;
  border-radius: 5px;
  border-style: none;
  background-color: #59692A;
  color: #E9E5D6;
  cursor: pointer;
  font-weight: 500;
  transition: .15s ease-in-out background-color, 
  .15s ease-in-out color;
}

.add-inside-button:hover {
  background-color: #E9E5D6;
  color: #464E2E;
  border: 1px solid #464E2E;
}

.add-inside-button:active {
  opacity: 0.8;
}