.sidebar {
  width: 230px !important;
  height: 100vh;
  background: #464E2E;
  color: white;
  transition: width 0.3s ease;
  position: fixed;
  left: 0;
  top: 0;
  padding: 15px;
  overflow: hidden;
}
.sidebar:not(.open) {
  width: 70px !important;
}
.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
}
.title-name {
  font-weight: bold;
  font-size: 17px;
}
.nav-item {
  margin-left: 20px;
  font-size: 14px;
  transition: opacity 0.3s ease;
}
ul {
  list-style: none;
  padding: 0;
  margin-top: 40px;
}
li {
  margin: 20px 0;
}
a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: background 0.3s;
  cursor: pointer;
}
a:hover {
  background: rgba(255, 255, 255, 0.2);
}
i {
  font-size: 24px;
}

#btn:not(.open) {
  margin-right: 10%;
} 

.main-content {
  margin-left: 230px;
  transition: margin-left 0.3s ease;
}

.sidebar:not(.open) ~ .main-content {
  margin-left: 70px;
}

/* Logout Modal */
.logout-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.logout-modal {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 300px;
  scale: 1.1;
}

.logout-modal h2 {
  margin-bottom: 10px;
  color: #E9E5D6;
}

.logout-modal p {
  color: #E9E5D6;
}

.logout-modal-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
}

.logout-btn {
  background: #59692A;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .15s ease-in-out background-color,
  .15s ease-in-out color;
}

.cancel-btn {
  background: #bdc3c7;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: .15s ease-in-out background-color;
}

.logout-btn:hover {
  background-color: #E9E5D6;
  color: #464E2E;
}

.cancel-btn:hover {
  background: #95a5a6;
}

/* dashboard (volunteers) */

.input-search-event {
  margin-left: 77%;
  margin-top: 30px;
  width: 20%;
  height: 45px;
  padding-left: 20px;
  border: 2px solid #7C7C7C;
  border-radius: 5px;
  background: none;
  padding-right: 10px;
}

.hr-input {
  width: 79%;
  margin-top: 15px;
  margin-left: 18%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: -16%;
  margin-left: 19%;
}

.glasscard-container {
  display: flex;
  align-items:center; /* Center vertically */
  background: rgba(255, 255, 255, 0.15); /* Glass effect */
  backdrop-filter: blur(10px);
  padding: 15px;
  width: 572px;
  height: 172px;
  border: 2px solid #7C7C7C;
  border-radius: 12px;
  margin-left: -20px;
  margin-top: 43%;
  animation-name: slideinTopGlasscard;
  animation-duration:1s;
  animation-timing-function:ease-in-out;
  animation-delay:0s;
  animation-iteration-count: 1;
}

@keyframes slideinTopGlasscard {
  from {
      opacity: 0.2;
      transform: translateY(30px);

  }

  to {
      opacity: 1;
      transform: translateY(0);

  }
}

.volunteer-name, .service-type {
  text-align: start;
}
.picture-1{
  flex-shrink: 0;
 
}

.picture-person {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
  margin-left: -10%;
  margin-top: -1%;
  background-color: #41520C;
}

.glasscard-titles {
 margin-top: -15%;
 margin-left: 31%;
}

.service-type {
  margin-left: 2px;
  font-size: 15px;
  margin-top: 2px;
}

/* LIST OF EVENTS SECTIONS */

.lists-events {
  margin-left: 18%;

  color: #464E2E;
}

.hr-lists-events {
  width: 79%;
  margin-top: 15px;
  margin-left: 18%;
    animation-name: slideinTopLine;
  animation-duration:1s;
  animation-timing-function:ease-in-out;
  animation-delay:0s;
  animation-iteration-count: 1;
}

.container-events { 
  margin-left: 15%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-left: 18%;
  animation-name: slideinTopOverallContainer;
  animation-duration:1s;
  animation-timing-function:ease-in-out;
  animation-delay:0s;
  animation-iteration-count: 1;
}

@keyframes slideinTopOverallContainer {
  from {
      opacity: 0.2;
      transform: translateY(70px);

  }

  to {
      opacity: 1;
      transform: translateY(0);

  }
}


.container-inputs {
  width: 365px;
  height: 208px;
  padding: 10px 20px;
  border-radius: 10px;
  color: #E9E5D6;
  background: linear-gradient(150deg, #41520C, #59692A, #ACB992);
  animation: slideintopEvents .75s ease-in-out;
  animation-timeline: view();
  animation-range: entry 0% cover 25%;
}


@keyframes slideintopEvents {
  from {
      opacity: 0.2;
      transform: translateY(40px);

  }

  to {
      opacity: 1;
      transform: translateY(0);

  }
}

.container-event-title {
  font-size: 26px;
}

.container-event-location {
  font-size: 13px;
  font-weight: 500;
}

.container-event-time, .container-event-date {
  font-size: 12px;
  font-weight: 500;
}

.button-enter{
  margin-left: 76%;
  margin-top: 20%;
  cursor: pointer;
  font-weight: 600;
  width: 75px;
  height: 40px;
  padding-left: 15px;
  background-color: #59692A;
}

.button-enter:hover {
   opacity: 0.9;
   background-color: #E9E5D6;
   color: #464E2E;
   border: 1px solid #464E2E;
}

.button-enter:active {
  opacity: 0.7;
}

/* NOTIFICATION PANEL */
.notification-panel {
  position: fixed;
  top: 0;
  left: -300px; /* Initially off-screen to the left */
  width: 300px;
  height: 100%;
  background: #3e2a02;
  color: white;
  box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out; /* Smooth glide transition */
}

/* Close button */
.notification-panel .close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: white;
  transition:  0.15s ease-in-out opacity;
}

/* Slide in effect */
.notification-panel.open {
  transform: translateX(300px); /* Slides in from the left */
}

/* Close button hover effect */
.notification-panel .close-btn:hover {
  opacity: 0.6;
}

.notification-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.close-btn {
  font-size: 24px;
  cursor: pointer;
}

.notification-list {
  margin-top: 10px;
}

.notification-item {
  background: rgba(255, 255, 255, 0.2);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.15s ease-in-out background-color,
  0.15s ease-in-out color;
}

.notification-item:hover {
  background-color: #E9E5D6;
  color: black;
}

.notification-item:hover .time {
  color: #313131; /* Change the color of the span.time on hover */
}

.notification-item h4 {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}

.notification-item p {
  font-size: 12px;
  margin: 5px 0;
}

.notification-item .time {
  font-size: 10px;
  color: #ccc;
}

.notification-item .time:hover {
  color: #313131;
}

/* BACKGROUND OVERLAY */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

/* DROP DOWN, QR, AND CALENDAR */