/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  scroll-behavior: smooth;
}

body {
  background-color: #E7F0DC;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TRIANGLES */
.triangle-fixed {
  position: fixed;
  top: -23%;
  left: -20%;
  z-index: 0;
  pointer-events: none;
}

.triangle-light-green,
.triangle-green {
  --r: 120px;
  aspect-ratio: 1 / cos(30deg);
  --_g: calc(tan(60deg) * var(--r)) bottom var(--r), #000 98%, #0000 101%;
  -webkit-mask:
    conic-gradient(from -30deg at 50% calc(200% - 3 * var(--r) / 2), #000 60deg, #0000 0)
      0 100%/100% calc(100% - 3 * var(--r) / 2) no-repeat,
    radial-gradient(var(--r) at 50% calc(2 * var(--r)), #000 98%, #0000 101%),
    radial-gradient(var(--r) at left var(--_g)),
    radial-gradient(var(--r) at right var(--_g));
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.triangle-light-green {
  width: 880px;
  background: #ACB992;
  position: relative;
  left: 20%;
  top: 33%;
  margin-left: -23%;
  margin-top: -3%;
  transform: rotate(-15deg);
}

.triangle-green {
  width: 870px;
  background: #464E2E;
  position: absolute;
  left: 23%;
  top: 20%;
  margin-left: -25%;
  margin-top: -16%;
  transform: rotate(-15deg);
}

/* IMAGE */
img {
  height: 500px;
  width: 500px;
  position: fixed;
  top: 12%;
  left: 13%;
  z-index: 1;
}

/* SIGNUP CONTAINER */
.signup-container {
  position: fixed;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 470px;
  background-color: #E7F0DC;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 3% 3%;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.6);
  color: black;
  z-index: 2;
}

.signup-hiwalay {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 6%;
  text-align: left;
}

.signup-separation {
  display: grid;
  gap: 30px;
  margin-top: 5%;
  margin-left: 30px;
}

.signup-title {
  font-size: 28px;
  color: #464E2E;
  font-weight: 700;
  text-align: center;
}

.signup-paragraph {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: #464E2E;
}

.title {
  font-size: 15px;
  color: #464E2E;
  font-weight: 550;
}

.singup-input {
  width: 95%;
  height: 33px;
  border-radius: 8px;
  border-style: none;
  padding-left: 10px;
  background-color: #ACB992;
  opacity: 0.4;
  color: black;
  transition: 0.15s ease-in-out box-shadow;
}

.singup-input:focus,
.singup-input:hover {
  outline: none;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
}

/* FOOTER BUTTONS */
.footer {
  position: fixed;
  bottom: 13%;
  left: 63%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 210%;
}

.footer router-link {
  font-size: 15px;
  border: none;
  background: #464E2E;
  cursor: pointer;
}

.prev {
  padding-left: 14px;

}
.prev, .next {
  width: 90px;
  height: 50px;
  color: #E7F0DC;
  background-color: #464E2E;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition: 0.15s ease-in-out;
}

.prev:hover, .next:hover {
  background-color: #E9E5D6;
  border: 1px solid #464E2E;
  color: #464E2E;
}

.prev:active, .next:active {
  opacity: 0.8;
}

/* 1345px ↓ */
@media (max-width: 1345px) {
  .triangle-light-green {
    left: 10%;
    margin-top: -10%;
  }

  .triangle-green {
    left: 19%;
    top: 20%;
  }

  .signup-container {
    right: 8%;
    scale: 0.85;
  }

  .footer {
  margin-top: -1%;
  column-gap: 160%;
  margin-left: 28%;
  }
}


@media (max-width:1215px) {
  img {
    display: none;
  }

  .triangle-fixed {
    position: fixed;
    top: -80%;
    left: 13%;
    transform: none; /* remove rotation here */
    z-index: 0;
    pointer-events: none;
    
  }

  .triangle-light-green {
    position: absolute;
    top: -10%;
    left: 12%;
    transform: rotate(35deg);
  }

  .triangle-green {
    position: absolute;
    top: -25%;
    left: 15%;
    transform: rotate(35deg);
  }

  .signup-container {
    margin-left: 5%;
    margin-top: 15%;
  }

  .footer {
    margin-left: -20%;
  }
}

@media (max-width: 975px) {
  .triangle-fixed {
    left: 7%;
    position: fixed;
  }

  .footer {
   margin-right: -20%; /* CHECKPOINT */
   position: fixed;
   bottom: 13%;
   left: 63%;
  }
  
}

@media (max-width: 713px) {
  .triangle-fixed {
    left: 2%;
    margin-top: 13%;
    scale: 0.8;
    position: fixed;
  }

  .signup-container {
    scale: 0.7;
  }

  .footer {
    margin-left: -30%;
    scale: 0.7;
    column-gap: 200%;
    margin-top: -8%;
  }
}

/* 665px ↓ */
@media (max-width: 665px) {
  .signup-container {
    scale: 0.7;
    right: 0;
    top: 45%;
  }

  .footer {
    column-gap: 100%;
  }
}

@media (max-width:539px) {
  .triangle-fixed {
    left: -33%;
    margin-top: 8%;
    scale: 0.9;
    position: fixed;
  
  }

  .signup-container {
    margin-left: -1%;
    margin-top: 33%;
  }

  .footer {
    margin-left: -52%;
    scale: 0.7;
    column-gap: 200%;
    margin-top: -12%;
  }
}