/* GLOBAL RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
  scroll-behavior: smooth;
}

body {
  background-color: #E7F0DC;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* TRIANGLES */
.triangle-fixed {
  position: fixed;
  top: -23%;
  left: -20%;
  z-index: 0;
  pointer-events: none;
}

.triangle-light-green,
.triangle-green {
  --r: 120px;
  aspect-ratio: 1 / cos(30deg);
  --_g: calc(tan(60deg) * var(--r)) bottom var(--r), #000 98%, #0000 101%;
  -webkit-mask:
    conic-gradient(from -30deg at 50% calc(200% - 3 * var(--r) / 2), #000 60deg, #0000 0)
      0 100%/100% calc(100% - 3 * var(--r) / 2) no-repeat,
    radial-gradient(var(--r) at 50% calc(2 * var(--r)), #000 98%, #0000 101%),
    radial-gradient(var(--r) at left var(--_g)),
    radial-gradient(var(--r) at right var(--_g));
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.triangle-light-green {
  width: 880px;
  background: #436850;
  position: relative;
  left: 20%;
  top: 33%;
  margin-left: -23%;
  margin-top: -3%;
  transform: rotate(-15deg);
}

.triangle-green {
  width: 870px;
  background: #12372A;
  position: absolute;
  left: 23%;
  top: 20%;
  margin-left: -25%;
  margin-top: -16%;
  transform: rotate(-15deg);
}

/* IMAGE */
img {
  height: 500px;
  width: 500px;
  position: fixed;
  top: 12%;
  left: 13%;
  z-index: 1;
}

/* SIGNUP CONTAINER */
.signup-container {
  position: fixed;
  top: 45%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 470px;
  background-color: #DAF1DE;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 50px;
  padding: 3% 3%;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.6);
  color: black;
  z-index: 2;
}

.signup-hiwalay {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  margin-top: 6%;
  text-align: left;
}

.signup-separation {
  display: grid;
  gap: 30px;
  margin-top: 5%;
  margin-left: 30px;
}

.signup-title {
  font-size: 28px;
  color: #12372A;
  font-weight: 700;
  text-align: center;
}

.signup-paragraph {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
  color: #12372A;
}

.title {
  font-size: 15px;
  color: #464E2E;
  font-weight: 550;
}

.singup-input {
  width: 95%;
  height: 33px;
  border-radius: 8px;
  border-style: none;
  padding-left: 10px;
  background-color: #ADBC9F;
  opacity: 0.4;
  color: black;
  transition: 0.15s ease-in-out box-shadow;
}

.singup-input:focus,
.singup-input:hover {
  outline: none;
  box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
}

/* FOOTER BUTTONS */
.footer {
  position: fixed;
  bottom: 13%;
  left: 63%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 210%;
}

.footer router-link {
  font-size: 15px;
  border: none;
  background: #12372A;
  cursor: pointer;
}

.prev {
  padding-left: 14px;
	text-decoration: none;
	padding-left: 15px;
	padding-top: 15px;
}

.prev, .next {
  width: 90px;
  height: 50px;
  color: #DAF1DE;
  background-color: #12372A;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  transition: 0.15s ease-in-out;
}

.prev:hover, .next:hover {
  background-color: #DAF1DE;
  border: 1px solid #12372A;
  color: #12372A;
}

.next {
  background-color: #12372A;
  color: #DAF1DE;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.disabled-btn {
  background-color: #d1d5db;
  color: #6b7280;
  cursor: not-allowed;
  pointer-events: none;
  cursor: not-allowed;
}

.prev:active, .next:active {
  opacity: 0.8;
}

@media (max-width:1385px) {
  .triangle-green {
    margin-left: -29%;
    margin-top: -18%;
  } 

  .triangle-light-green {
    margin-top: -4%;
    margin-left: -27%;
  }

  .footer {
   bottom: 11%;
   left: 60%;
    }
}

@media (max-width:1264px) {
  img {
    display: none;
  }

  .triangle-fixed {
    position: fixed;
    top: -90%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
  }
  
  .triangle-light-green {
    position: absolute;
    top: -10%;
    left: 50%;
    transform: translateX(-50%) rotate(35deg);
  }
  
  .triangle-green {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%) rotate(35deg);
  }
  
  .signup-container {
    position: fixed;
    top: 45%;
    left: 47%;
    transform: translate(-50%, -50%);
    scale: 0.8;
  }
  
  .footer {
    position: fixed;
    bottom: 12%;
    left: 38%;
    scale: 0.8;
    transform: translateX(-50%);
  }
  
}

@media (max-width:772px) {
  .triangle-fixed {
    position: fixed;
    top: -95%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
  }

  .signup-container {
    position: fixed;
    top: 42%;
    left: 41%;
    transform: translate(-50%, -50%);
  }
  
  .footer {
    position: fixed;
    bottom: 15%;
    left: 27%;
    transform: translateX(-50%);
  }
}

@media (max-width: 569px) {
  .signup-container {
    position: fixed;
    top: 37%;
    left: 31%;
    scale: 0.7;
    transform: translate(-50%, -50%);
  }
  
  .footer {
    position: fixed;
    bottom: 20%;
    left: 19%;
    column-gap: 175%;
    transform: translateX(-50%);
  }
}